= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: 'small-12 grid-content' }) do |f|
  = devise_error_messages!
  .mdl-grid
    .mdl-cell.mdl-cell--12
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.text_field :first_name, class: 'mdl-textfield__input', autofocus: true, autocomplete: 'off'
        %label.mdl-textfield__label
          First Name...
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.text_field :last_name, class: 'mdl-textfield__input', autocomplete: 'off'
        %label.mdl-textfield__label
          Last Name...
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.email_field :email, class: 'mdl-textfield__input', autocomplete: 'off'
        %label.mdl-textfield__label
          Email...
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.telephone_field :mobile, class: 'mdl-textfield__input', autocomplete: 'off', :pattern => '^04[0-9]{8}'
        %label.mdl-textfield__label
          Mobile...
        %span.mdl-textfield__error Input is not a number!
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.password_field :password, class: 'mdl-textfield__input', autocomplete: 'off'
        %label.mdl-textfield__label
          Password...
    .mdl-cell.mdl-cell--12-col
      = f.submit t('devise.registrations.new.submit_button'), class: 'mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'