- title t('.title')
.mdl-grid
  .mdl-cell.mdl-cell--12-col
    - if  @cart_items.blank? && @saved_cart_items.empty?
      = render :partial => 'shared/no_record_header', :locals => {:header_description => t('.no_records') }
      %button.text-center.button.alert= t('cart.create_first_order')
    - elsif  @cart_items.blank?
      %h2.text-center
        = t(:only_items_saved_for_later)
      .panel.graceful
        %h3.text-center
          = t(:add_items_saved_for_later)
    = form_for session_cart, url: shopping_cart_item_path(session_cart), :as => :cart do |cart_form|
      - unless @cart_items.blank?
        -#.grid-block
          .grid-content
            %span{:style => "margin-top:3px;"} Make any changes below?
        .grid-block
          .grid-content
            %section.block-list
              %ul
                - @cart_items.each_with_index do |item, i|
                  %li
                    = cart_form.fields_for :shopping_cart_items, item do |cart_items_form|
                      = render :partial => 'cart_item', :locals => {:cart_items_form => cart_items_form, :item => item, :i => i }
        .grid-block
          .small-12.grid-content
            = cart_form.submit t('cart.checkout').upcase, {:checkout => 1, :class => 'button large expand'}
              -#.grid-block.text-center
          .grid-content
            = cart_form.submit t('cart.update').upcase, :class => 'button hollow'
          .grid-content
            = cart_form.submit t('cart.checkout').upcase, {:checkout => 1, :class => 'button alert'}