- title t('admin.history.orders.title')
.mdl-cell.mdl-cell--12-col
  .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
    .mdl-tabs__tab-bar
      %a.mdl-tabs__tab.is-active{:href => '#in-progress-panel'} In Progress
      %a.mdl-tabs__tab{:href => '#complete-panel'} Complete
      %a.mdl-tabs__tab{:href => '#paid-panel'} Paid
      %a.mdl-tabs__tab{:href => '#cancelled-panel'} Cancelled
    #in-progress-panel.mdl-tabs__panel.is-active
      .mdl-grid
        .mdl-cell.mdl-cell--12-col
          %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--12-col
            %thead
              %tr
                %th ID
                %th Status
                %th Created At
                %th Expected At
                %th Customer
                %th Total
            %tbody
              - @orders.each do |order|
                %tr
                  %td= order.number.upcase
                  %td= order.order_status.name
                  %td= order.created_at
                  %td= order.completed_at
                  %td= order.user.name
    #complete-panel.mdl-tabs__panel
      %ul
        %li Tywin
        %li Cersei
        %li Jamie
        %li Tyrion
    #paid-panel.mdl-tabs__panel
      %ul
        %li Viserys
        %li Daenerys
    #cancelled-panel.mdl-tabs__panel
      %ul
        %li Viserys
        %li Daenerys