<p id="notice"><%= notice %></p>

<p>
  <strong>Variant:</strong>
  <%= @variant_supplier.variant_id %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @variant_supplier.supplier_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @variant_supplier.cost %>
</p>

<p>
  <strong>Active:</strong>
  <%= @variant_supplier.active %>
</p>

<%= link_to 'Edit', edit_variant_supplier_path(@variant_supplier) %> |
<%= link_to 'Back', variant_suppliers_path %>
