<p id="notice"><%= notice %></p>

<h1>Listing Variant Properties</h1>

<table>
  <thead>
    <tr>
      <th>Variant</th>
      <th>Property</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variant_properties.each do |variant_property| %>
      <tr>
        <td><%= variant_property.variant_id %></td>
        <td><%= variant_property.property_id %></td>
        <td><%= variant_property.name %></td>
        <td><%= link_to 'Show', variant_property %></td>
        <td><%= link_to 'Edit', edit_variant_property_path(variant_property) %></td>
        <td><%= link_to 'Destroy', variant_property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variant property', new_variant_property_path %>
