<p id="notice"><%= notice %></p>

<p>
  <strong>Variant:</strong>
  <%= @variant_property.variant_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @variant_property.property_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @variant_property.name %>
</p>

<%= link_to 'Edit', edit_variant_property_path(@variant_property) %> |
<%= link_to 'Back', variant_properties_path %>
