- title t('superman.dashboard.title')
.grid-content
  %h3= t('superman.dashboard.title')
  .grid-block.medium-up-4
    .grid-content
      .dark.card
        .card-divider
          = t('superman.dashboard.stats_title.orders')
        .card-section
          %h4 The Basics: Group and Block
    .grid-content
      .dark.card
        .card-divider
          = t('superman.dashboard.stats_title.sales')
        .card-section
          %h4 The Basics: Group and Block
    .grid-content
      .dark.card
        .card-divider
          = t('superman.dashboard.stats_title.users')
        .card-section
          %h4 The Basics: Group and Block
    .grid-content
      .dark.card
        .card-divider
          = t('superman.dashboard.stats_title.products')
        .card-section
          %h4 The Basics: Group and Block
  .grid-block.medium-6-up
    .grid-content
      .card
        .card-divider
          Top 10 Products
        .card-section
          content
    .grid-content
      .card
        .card-divider
          Top 10 Products
        .card-section
          content
