%h1 Listing store_configs
%table
  %tr
    %th Name
    %th Value
    %th
    %th
    %th
  - @store_configs.each do |store_config|
    %tr
      %td= store_config.name
      %td= store_config.value
      %td= link_to 'Show', store_config
      %td= link_to 'Edit', edit_store_config_path(store_config)
      %td= link_to 'Destroy', store_config, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Store config', new_store_config_path
