-#%nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
= link_to admin_path, class: 'mdl-navigation__link' do
  %i.material-icons dashboard
  = t('admin.side_menu.dashboard')
= link_to admin_history_orders_path, class: 'mdl-navigation__link' do
  %i.material-icons move_to_inbox
  = t('admin.side_menu.orders')
= link_to admin_merchandise_products_path, class: 'mdl-navigation__link' do
  %i.material-icons local_cafe
  = t('admin.side_menu.products')
= link_to admin_generic_coupons_path, class: 'mdl-navigation__link' do
  %i.material-icons content_cut
  Discounts
= link_to '', class: 'mdl-navigation__link' do
  %i.material-icons people
  = t('admin.side_menu.staff')
= link_to admin_users_path, class: 'mdl-navigation__link' do
  %i.material-icons wc
  Users
= link_to admin_config_tax_rates_path, class: 'mdl-navigation__link' do
  %i.material-icons monetization_on
  = t('admin.side_menu.tax_rates')
= link_to '', class: 'mdl-navigation__link' do
  %i.material-icons settings
  = t('admin.side_menu.settings')