%nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
  = link_to '', class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons dashboard
    = t('superman.side_menu.dashboard')
  = link_to '', class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons move_to_inbox
    = t('superman.side_menu.orders')
  = link_to '', class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons local_cafe
    = t('superman.side_menu.products')
  = link_to '', class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons people
    = t('superman.side_menu.staff')
  = link_to '', class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons settings
    = t('superman.side_menu.settings')
  = link_to admin_users_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons wc
    Users
  = link_to admin_config_tax_rates_path, class: 'mdl-navigation__link' do
    %i.mdl-color-text--blue-grey-400.material-icons settings_applications
    = t('superman.side_menu.settings')