.mdl-grid
  .mdl-cell.mdl-cell--6-col
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
      = form.text_field :name, class: 'mdl-textfield__input'
      = form.label :name, class: 'mdl-textfield__label'
.mdl-grid
  .mdl-cell.mdl-cell--6-col
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
      = form.text_field :code, class: 'mdl-textfield__input'
      = form.label :code, class: 'mdl-textfield__label'
.mdl-grid
  .mdl-cell.mdl-cell--6-col
    = form.collection_select(:property_set_id, PropertySet.all, :id, :name)
-#.mdl-grid
  .mdl-cell.mdl-cell--6-col
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
      -#- checked = @property_set.name && @property_set.properties.include?(property)
      %label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect{:for => :active}
        = check_box_tag :active
        %span.mdl-switch__label Active