- title t('.title')
.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    %a.mdl-tabs__tab{:href => '#account-panel'}= t('.account')
    %a.mdl-tabs__tab.is-active{:href => '#menu-panel'}= t('.menu')
  - if @merchant.errors.any?
    #error_explanation
      %h2
        = pluralize(@merchant.errors.count, "error")
        prohibited this merchant from being saved:
      %ul
        - @merchant.errors.full_messages.each do |msg|
          %li= msg
  .mdl-grid
    .mdl-cell.mdl-cell--10-col.mdl-cell--1-offset.merchant-settings.mdl-shadow--2dp
      = form_for @merchant, :url => admin_merchants_path do |form|
        #account-panel.mdl-tabs__panel
          = render :partial => 'venue', :locals => {:form => form}
          = render :partial => 'account', :locals => {:form => form}
          .mdl-grid
            .mdl-cell.mdl-cell--10.mdl-cell--1-offset
              %label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect{:for => :terms_of_service}
                = form.check_box :terms_of_service, :class => 'mdl-checkbox__input', :id => :terms_of_service
                %span.mdl-checkbox__label I agree to the terms and conditions. Make our lawyers happy by reading their T&Cs
          .mdl-grid
            .mdl-cell.mdl-cell--10.mdl-cell--1-offset
              = form.submit :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'
        #menu-panel.mdl-tabs__panel.is-active
          -#- @merchant.products.select(&:id).flatten.uniq.each do |item|
            = render :partial => 'product', :locals => {:item => item }


