- if @address.errors.any?
  #error_explanation
    %h2
      = pluralize(@address.errors.count, "error")
      prohibited this shipping address from being saved:
    %ul
      - @address.errors.full_messages.each do |msg|
        %li= msg
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :first_name, class: 'mdl-textfield__input'
  = f.label :first_name, class: 'mdl-textfield__label'
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :last_name, class: 'mdl-textfield__input'
  = f.label :last_name, class: 'mdl-textfield__label'
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :address1, class: 'mdl-textfield__input'
  = f.label :address1, class: 'mdl-textfield__label'
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :address2, class: 'mdl-textfield__input'
  = f.label :address2, class: 'mdl-textfield__label'
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :city, class: 'mdl-textfield__input'
  = f.label :city, class: 'mdl-textfield__label'
.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
  = f.text_field :zip_code, class: 'mdl-textfield__input'
  = f.label :zip_code, class: 'mdl-textfield__label'
  -#.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      = address_fields.select   :state_id, @states, :include_blank => true
      = address_fields.label :state_id, class: 'mdl-textfield__label'
  -#- if countries.size == 1
  -#  = address_fields.hidden_field   :country_id
  -#- else
    %li= address_fields.select   :country_id, select_countries, :include_blank => true
= f.submit 'Submit', :class => 'small button'