- if @address.errors.any?
  #error_explanation
    %h2
      = pluralize(@address.errors.count, "error")
      prohibited this shipping address from being saved:
    %ul
      - @address.errors.full_messages.each do |msg|
        %li= msg
%section.block-list
  -#%header= t('myaccount.address.form.header')
  %ul
    %li= f.text_field :first_name, placeholder: :first_name.upcase, value: current_user.first_name
    %li= f.text_field :last_name, placeholder: :last_name, value: current_user.last_name
    %li= f.text_field :address1, placeholder: :address_1
    %li= f.text_field :address2, placeholder: :address_2
    %li= f.text_field :city, placeholder: :city
    %li= f.text_field :zip_code, placeholder: :post_code
    %li= f.select   :state_id, @states, :include_blank => true
    - if countries.size == 1
      = f.hidden_field   :country_id
    - else
      %li= f.select   :country_id, select_countries, :include_blank => true
-#-#.field.twelve.large-12.column{:style => "margin-bottom:10px;"}
    -#%li
      %span Default Address
      .switch
        = f.check_box :default, :id => 'default_address'
          %label{:for => "default_address"}
= f.submit 'Submit', :class => 'small button'