- title t('.title')
.mdl-grid.mdl-color--white.mdl-shadow--2dp
  .mdl-cell.mdl-cell--4-col-phone
    - if @addresses.empty?
      = render :partial => 'shared/no_record_header', :locals => {:header_description => t('.no_records') }
    - else
      .grid-block
        .small-12.grid-content
          %ul
            - for address in @addresses
              %li= link_to address.full_address_compact_array, edit_myaccount_address_path(address)
              = render :partial => '/shared/compact_address', :locals => { :shopping_address => address }
              -#= link_to "Edit", edit_myaccount_address_path(address)
              -#|
              -#\#{link_to "Remove", myaccount_address_path(address), :confirm => 'Are you sure?', :method => :delete}
  %p= link_to "New Address", new_myaccount_address_path, :class => 'b-link'
