.grid-block.vertical
  %table#orderQueue{:width => '100%'}
    - @orders.each do |order|
      %tr
        %td
          %h2= time_ago_in_words(order.placed)
        %td
          %img{src: 'http://www.alexhedin.com/img/pp3/userInterfaceIcons/toGoIcon.png'}
        %td
          -#%h3= order.milk? ? "#{order.item} w/ #{order.milk}" : "#{order.item}"
          %h4= "#{order.person_id} #{order.placed.strftime('%l:%M %p')}"
        %td
          %img{src: 'http://www.alexhedin.com/img/pp3/userInterfaceIcons/okBox.png'}
    -#-#.grid-block status
    -#-#.row
    -#  .large-3.columns
    -#    = order.person_id
    -#  .large-4.columns
    -#    = order.milk? ? "#{order.item} w/ #{order.milk}" : "#{order.item}"
    -#  .large-2.columns
    -#    - if order.special_instructions?
    -#      %span.has-tip{"aria-haspopup" => "true", "data-options" => "show_on:large", "data-tooltip" => "", :title => order.special_instructions} NOTE!
    -#    - else
    -#      nothing
    -#  -#%td= order.placed
    -#  -#%td= order.fulfilled
    -#  .large-1.columns
    -#    - if order.priority?
    -#      = icon('flag')
    -#  .large-1.columns
    -#    = link_to 'Complete', complete_order_path(order)
    -#  -#%td= link_to 'Show', order
    -#  -#%td= link_to 'Edit', edit_order_path(order)
    -#  -#%td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
