= form_for(@venue, :html => { class: 'small-12 medium-8 medium-offset-2' }) do |f|
  - if @venue.errors.any?
    .grid-block.alert
      .grid-content
        = pluralize(@venue.errors.count, "error")
        prohibited this venue from being saved:
        %ul
          - @venue.errors.full_messages.each do |msg|
            %li= msg
  .grid-block
    .small-12.grid-content
      = f.label :name
      = f.text_field :name, autofocus: true
  .grid-block
    .small-12.grid-content
      = f.label :address
      = f.text_field :address
  .grid-block
    .small-12.grid-content
      = f.label :suburb
      = f.email_field :suburb
  .grid-block
    .small-12.grid-content
      = f.label :state
      = f.text_field :state
  .grid-block
    .small-12.grid-content
      = f.label :country
      = f.text_field :country
  .grid-block
    .small-12.grid-content
      = f.label :phone
      = f.telephone_field :phone
  .grid-block
    .small-12.grid-content
      = f.label :lat
      = f.number_field :latitude
  .grid-block
    .small-12.grid-content
      = f.label :long
      = f.number_field :longitude
  .grid-block
    .small-12.grid-content
      = f.submit 'Update', class: 'button expand'