.small-12.medium-12.messages.grid-content.ng-scope
  %img{:src => "http://placehold.it/1600x450?text=Map"}
  %br
  %br
  .grid-block
    .grid-content.medium-5
      %h2= @venue.name
      %h4= "#{@venue.address}, #{@venue.suburb}"
    .grid-content.medium-2
      = @venue.orders.count
    .grid-content.medium-5
      options
  %br
  %br

  .grid-block.small-up-2.medium-up-2.large-up-3
    - for item in @venue.products
      .grid-content
        .card
          = image_tag("drinks/#{item.name.titlecase.tr(' ','-')}.png")
          .card-divider
            = item.name
          -#.card-section
            %h4
              - for attr in item.menu_attributes
                = attr.name
                -#- for attr_val in attr.menu_attributes
                -#  = attr_val.menu_attribute_value
                -#= Product.joins({ menu_attributes: :menu_attributes_items }, :venues).where('Products.id = menu_attributes_items.menu_item_id AND menu_attributes.id = menu_attributes_items.menu_attribute_id AND menu_attributes.id = menu_attributes_items.menu_attribute_id AND venues.id = menu_attributes_items.venue_id AND menu_attributes.name = ?', 'Price').select('Products.name, menu_attributes.name, menu_attributes_items.menu_attribute_value')
