.mdl-grid
  .mdl-cell.mdl-cell--4-col-phone.mdl-cell.mdl-cell--8-col-tablet.mdl-cell.mdl-cell--12-col-desktop
    h1.mdl-typography--display-1.mdl-typography--text-center= t('.title')
    h2.mdl-typography--title.mdl-typography--text-center= t('.description')
  = form_for :password, url: passwords_path do |form|
    .mdl-cell.mdl-cell--4-col-phone.mdl-cell.mdl-cell--8-col-tablet.mdl-cell.mdl-cell--12-col-desktop
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = form.email_field :email, class: 'mdl-textfield__input'
        = form.label :email, class: 'mdl-textfield__label'
    .mdl-cell.mdl-cell--4-col-phone.mdl-cell.mdl-cell--8-col-tablet.mdl-cell.mdl-cell--12-col-desktop
      = form.submit class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'
      = link_to 'Sign In', root_path, class: 'mdl-button mdl-js-button mdl-js-ripple-effect'