.mdl-grid
  .mdl-cell.mdl-cell--12-col
    - if @credit_card.errors.any?
      #error_explanation
        %h2
          = pluralize(@credit_card.errors.count, "error")
          prohibited this credit_card from being saved:
        %ul
          - @credit_card.errors.full_messages.each do |msg|
            %li= msg
  .mdl-cell.mdl-cell--6-col
    .mdl-textfield.mdl-js-textfield
      %input#sample2.mdl-textfield__input{:pattern => "^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13})$", :type => "text"}/
      %label.mdl-textfield__label{:for => "sample2"} Card Number...
      %span.mdl-textfield__error= t('myaccount.credit_card.form.credit_card_error')
  .mdl-cell.mdl-cell--2-col
    .mdl-textfield.mdl-js-textfield
      %input#sample2.mdl-textfield__input{:pattern => "^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13})$", :type => "text"}/
      %label.mdl-textfield__label{:for => "sample2"} Month...
      %span.mdl-textfield__error= t('myaccount.credit_card.form.credit_card_error')
  .mdl-cell.mdl-cell--2-col
    .mdl-textfield.mdl-js-textfield
      %input#sample2.mdl-textfield__input{:pattern => "^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13})$", :type => "text"}/
      %label.mdl-textfield__label{:for => "sample2"} Year...
      %span.mdl-textfield__error= t('myaccount.credit_card.form.credit_card_error')
  .mdl-cell.mdl-cell--2-col
    .mdl-textfield.mdl-js-textfield
      %input#sample2.mdl-textfield__input{:pattern => "^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|3[47][0-9]{13})$", :type => "text"}/
      %label.mdl-textfield__label{:for => "sample2"} CCV...
      %span.mdl-textfield__error= t('myaccount.credit_card.form.credit_card_error')