- title t('.title')
.mdl-grid
  .mdl-cell.mdl-cell--4-col-phone
    %span= t('.warning_html')
.mdl-grid.mdl-color--white.mdl-shadow--2dp
  .mdl-cell.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
    - if @payment_methods.empty?
      = render :partial => 'shared/no_record_header', :locals => {:header_description => t('.no_records') }
    - else
      %ul.demo-list-two.mdl-list
        - for payment in @payment_methods
          -#= link_to myaccount_credit_card_path(credit_card) do
          %li.mdl-list__item.mdl-list__item--two-line
            %span.mdl-list__item-primary-content
              -#%i.material-icons.mdl-list__item-avatar person
              %span
                = payment.card_type
              %span.mdl-list__item-sub-title
                = payment.masked_number
                = "(Exp #{payment.month}/#{payment.year})"
            %span.mdl-list__item-secondary-content
              = link_to myaccount_payment_profile_path(payment), :confirm => 'Are you sure?', :method => :delete, :class => 'mdl-list__item-secondary-action' do
                %i.material-icons remove_circle_outline
  .mdl-cell.mdl-cell--4-col-phone
    = link_to t('.submit_button'), new_myaccount_payment_method_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'