- title t('.title')
.mdl-grid
  .mdl-cell.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
    %span= t('.warning_html')
  - if @customer.nil?
    .mdl-cell.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
      = render :partial => 'shared/no_record_header', :locals => {:header_description => t('.no_records') }
  - else
    .mdl-cell.mdl-cell--1-col-phone
      %img{:src => @customer.payment_methods[0].image_url}
    .mdl-cell.mdl-cell--2-col-phone
      = @customer.payment_methods[0].masked_number
    .mdl-cell.mdl-cell--1-col-phone
      = link_to myaccount_payment_method_path(@customer), :confirm => 'Are you sure?', :method => :delete, :class => 'mdl-list__item-secondary-action' do
        %i.material-icons remove_circle_outline
  .md
    .l-cell.mdl-cell--4-col-phone
    = link_to t('.submit_button'), new_myaccount_payment_method_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent'