- title 'Order Summary'
.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--12-col
      %thead
        %tr
          %th.mdl-data-table__cell--non-numeric Item
          %th Total
      %tbody
        - @order.order_items.group_by(&:variant_id).each do |variant_id, items|
          = render :partial => 'order_item', :locals => {:items => items }

  .pretty_table.five.large-5.columns.last
    %table
      %thead
        %tr.odd
          %th.column1_header
            Item
          %th Price:
          %th Price + Tax
      - @order.order_items.each do |item|
        %tr{:class => "#{cycle("odd", "")} "}
          %td= item.variant.product.name
          %td= number_to_currency item.price
          %td= number_to_currency item.total
      %tr.odd
        %td
        %td Sub-total:
        %td= number_to_currency @order.sub_total
      %tr
        %td
        %td Shipping Charges:
        %td= number_to_currency @order.shipping_charges
      - if @order.coupon_amount > 0.0
        %tr
          %td
          %td Coupon:
          %td= number_to_currency @order.coupon_amount
      - if @order.deal_amount && @order.deal_amount > 0.0
        %tr
          %td
          %td Promotion:
          %td= number_to_currency @order.deal_amount
          %td
      %tr
        %td
        %td Tax:
        %td= number_to_currency @order.taxed_amount
      - if @order.amount_to_credit && @order.amount_to_credit > 0.0
        %tr.odd
          %td
          %td Credits:
          %td
          %td= number_to_currency @order.amount_to_credit
      %tfoot
        %tr.even
          %td
          %td Total:
          %td
            %em= number_to_currency @order.credited_total

-#= form_tag( shopping_order_path(@order), method: :put, id:    'purchase_order') do
  .grid-block
    .small-6.grid-content
      = label_tag 'First'
      = text_field_tag(:first_name, @credit_card.first_name)
    .small-6.grid-content
      = label_tag :last_name, 'Last'
      = text_field_tag(:last_name, @credit_card.last_name)
  .grid-block
    .small-12.grid-content
      = label_tag 'Number'
      = text_field_tag(:number, @credit_card.number,  :autocomplete => "off")
  .grid-block
    .small-3.grid-content
      = label_tag :month
      = select_month(Date.today, use_two_digit_numbers: true, selected: @credit_card.month)
    .small-3.grid-content
      = label_tag :year
      = select_year(Date.today, start_year: Time.zone.now.year, end_year: Time.zone.now.year + 10)
    .small-6.grid-content
      = label_tag :verification_value, 'VCC'
      = text_field_tag(:verification_value, @credit_card.verification_value , class: 'disableAutoComplete', :autocomplete => "off")
  = submit_tag 'Complete Order', class: 'button success expand'
