- title 'Order Summary'
.mdl-grid
  .mdl-cell.mdl-cell--4-col-phone
    %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--12-col
      %thead
        %tr
          %th.mdl-data-table__cell--non-numeric= t('order.qty')
          %th.mdl-data-table__cell--non-numeric= t('order.item')
          %th= t('order.price')
      %tbody
        - @order.order_items.group_by(&:variant_id).each do |variant_id, items|
          = render :partial => 'order_item', :locals => {:items => items }
.mdl-grid
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= t('order.sub-total')
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= number_to_currency @order.sub_total
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= t('order.shipping_charges')
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= number_to_currency @order.shipping_charges
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= t('order.tax')
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= number_to_currency @order.taxed_amount
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= t('order.total')
  .mdl-cell.mdl-cell--4-col.mdl-cell--2-col-phone= number_to_currency @order.credited_total
  -#.pretty_table.five.large-5.columns.last
    %table
      - if @order.coupon_amount > 0.0
        %tr
          %td
          %td Coupon:
          %td= number_to_currency @order.coupon_amount
      - if @order.deal_amount && @order.deal_amount > 0.0
        %tr
          %td
          %td Promotion:
          %td= number_to_currency @order.deal_amount
          %td
      - if @order.amount_to_credit && @order.amount_to_credit > 0.0
        %tr.odd
          %td
          %td Credits:
          %td
          %td= number_to_currency @order.amount_to_credit

= render 'shopping/orders/form'

-#= form_tag( shopping_order_path(@order), method: :put, id:    'purchase_order') do
  .grid-block
    .small-6.grid-content
      = label_tag 'First'
      = text_field_tag(:first_name, @credit_card.first_name)
    .small-6.grid-content
      = label_tag :last_name, 'Last'
      = text_field_tag(:last_name, @credit_card.last_name)
  .grid-block
    .small-12.grid-content
      = label_tag 'Number'
      = text_field_tag(:number, @credit_card.number,  :autocomplete => "off")
  .grid-block
    .small-3.grid-content
      = label_tag :month
      = select_month(Date.today, use_two_digit_numbers: true, selected: @credit_card.month)
    .small-3.grid-content
      = label_tag :year
      = select_year(Date.today, start_year: Time.zone.now.year, end_year: Time.zone.now.year + 10)
    .small-6.grid-content
      = label_tag :verification_value, 'VCC'
      = text_field_tag(:verification_value, @credit_card.verification_value , class: 'disableAutoComplete', :autocomplete => "off")
  = submit_tag 'Complete Order', class: 'button success expand'
