- title "New Variant (#{@product.name})"
= link_to "Back to Product", admin_merchandise_product_path(@product), class: 'button small'
= form_for @variant, :url  => admin_merchandise_product_variants_path(@product), :html => {:class => ''}  do |form|
  = render :partial => 'form', :locals => {:form => form}
  .generic_submit_button
    = submit_tag "Create",               |
      :class  => "button",               |
      :id     => "create_variant_button"
%p
  You can think of a variant as a sub-product.  So you might have a polo shirt that has 5 varieties.  Each variety is a Variant.