- if supplier.featured
  = link_to shopping_supplier_path(supplier) do
    .demo-card-wide.mdl-card
      .mdl-card__title
        %h6.mdl-card__title-text
          = supplier.name.titlecase
      -#.mdl-card__supporting-text= supplier.address.titlecase
      -#.mdl-card__actions.mdl-card--border
        'Get Started'
        .mdl-layout-spacer
          stuff
      .mdl-card__menu
        %button.mdl-button.mdl-button--icon.mdl-js-button.mdl-js-ripple-effect
          %i.material-icons
            favorite
- else
  %ul.demo-list-three.mdl-list
    = link_to shopping_supplier_path(supplier) do
      %li.mdl-list__item.mdl-list__item--three-line
        %span.mdl-list__item-primary-content
          = image_tag 'products/cappuccino.jpg', class: 'mdl-list__item-avatar'
          %span= supplier.name.titlecase
          %span.mdl-list__item-text-body= supplier.address.titlecase
        %span.mdl-list__item-secondary-content
          %i.material-icons
            chevron_right