- title t('product.index.title')
- @supplier.each do |product|
  = form_for @cart_item, :url  => shopping_cart_items_path(@cart_item), :html => { :id => 'new_cart_item', :class => 'custom' } do |f|
    = f.hidden_field :variant_id, value: product[4]
    = f.hidden_field :quantity, value: 1
    .mdl-grid
      .mdl-cell.mdl-cell--2-col-phone
        .mdl-card.mdl-shadow--2dp
          .mdl-card__title
            %h2.mdl-card__title-text= product[1]
          .mdl-card__supporting-text= product[2]
          .mdl-card__actions.mdl-card--border
            = f.submit 'Order Now', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
          .mdl-card__menu
            = number_to_currency(product[3])

-#%section.block-list
  %ul
    - @supplier.each do |product|
      %li
        = link_to '', 'zf-open' => product[0]  do
          = content_tag :div, class: 'grid-block' do
            = content_tag :div, :class => 'small-4 grid-content' do
              %h4= product[1]
            = content_tag :div, :class => 'small-8 grid-content' do
              = content_tag :div, class: 'grid-block' do
                .small-8.grid-content
                  %h4= product[1]
                .small-3.grid-content
                  %h4= number_to_currency(product[3])
              = content_tag :div, class: 'grid-block' do
                .small-12.grid-content
                  %p= product[2]
      %div{'zf-modal' => '', id: product[0]}
        %a.close-button{'zf-close' => ''} ×
        %h4= "Add Item - #{number_to_currency(product[3])}"
        %h3= product[1]
        %p= product[2]
        = form_for @cart_item, :url  => shopping_cart_items_path(@cart_item), :html => { :id => 'new_cart_item', :class => 'custom' } do |f|
          = f.hidden_field :variant_id, value: product[4]
          = f.hidden_field :quantity, value: 1
          %section.block-list
            %header Sizes
            %ul
              %li
                %input{:checked => "", name: product[4], :type => "radio", :value => "eggs", id: "#{product[4]}-small"}
                  %label{:for => "eggs"} Small
              %li
                %input{name: product[4], :type => "radio", :value => "bacon", id: "#{product[4]}-medium"}
                  %label{:for => "bacon"} Medium
              %li
                %input{name: product[4], :type => "radio", :value => "toast", id: "#{product[4]}-large"}
                  %label{:for => "toast"} Large
          %section.block-list
            %header Milk
            %ul
              %li.with-dropdown
                %select{:id => "", :name => ""}
                  %option None
                  %option Full Cream
                  %option Soy
                  %option Almond
            %header Sugar
            %ul
              %li.with-dropdown
                %select{:id => "", :name => ""}
                  %option None
                  %option One
                  %option Two
                  %option Three
          - unless @supplier.empty?
            .grid-block
              .small-12.grid-content
                = f.submit class: 'button expand large'