.grid-block
  = form_for(@product, :html => { class: 'small-12 grid-content medium-8 medium-offset-2' }) do |f|
    -#- if @product.errors.any?
      #error_explanation
        %h2
          = pluralize(@product.errors.count, "error")
          prohibited this menu_item from being saved:
        %ul
          - product.errors.full_messages.each do |msg|
            %li= msg
    %section.block-list
      %header Update My Details
      %ul
        %li= f.text_field :name
        -#%li= f.text_area :description
    .grid-block
      .small-12.grid-content
        = f.submit class: 'button expand large'
