- title t('supplier.index.title')
- content_for :head do
  = stylesheet_link_tag 'app/products'
%section.block-list
  %ul
    - @suppliers.each_with_index do |supplier, i|
      %li
        = link_to supplier do
          = content_tag :div, class: 'grid-block' do
            = content_tag :div, supplier.image_available, :class => 'small-3 grid-content'
            = content_tag :div, :class => 'small-9 grid-content' do
              %h4= supplier.name.truncate(30).titlecase
              = content_tag :div, class: 'grid-block' do
                .small-3.grid-content 9/10
                .small-3.grid-content $$
                .small-6.grid-content.text-right
                  %span.success.label Open