- title t('admin.merchandise.products.edit.title')
.mdl-cell.mdl-cell--12-col
  = form_for @product, :url  => admin_merchandise_product_path(@product), :html => {:class => ''}  do |form|
    = render :partial => 'form', :locals => {:form => form }
    .generic_submit_button
      = submit_tag "Update", :class  => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored',  :id     => "create_product_button"
= link_to 'Add Image', edit_admin_merchandise_images_product_path(@product), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
= link_to 'Variants', admin_merchandise_product_variants_path(@product), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
= link_to 'Back to Product',     admin_merchandise_product_path(@product), :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
