- title t('admin.merchandise.products.title')
.mdl-cell.mdl-cell--12-col
  = page_entries_info @products
.mdl-cell.mdl-cell--12-col
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--12-col
    %thead
      %tr
        %th.mdl-data-table__cell--non-numeric Product Name
        %th.mdl-data-table__cell--non-numeric Active
        %th.mdl-data-table__cell--non-numeric Product Type
        %th # Variants
        %th.mdl-data-table__cell--non-numeric Options
    %tbody
      - @products.each do |product|
        %tr
          %td.mdl-data-table__cell--non-numeric= link_to product.name, edit_admin_merchandise_product_path(product)
          %td.mdl-data-table__cell--non-numeric= product.available? ? 'Yes' : 'No'
          %td.mdl-data-table__cell--non-numeric= product.product_type.name
          %td= product.variants.count
          %td.mdl-data-table__cell--non-numeric
            %button.mdl-button.mdl-js-button.mdl-button--icon{:id => product.id}
              %i.material-icons more_vert
            %ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect{:for => product.id}
              %li.mdl-menu__item= link_to "Edit Variants",  edit_admin_merchandise_multi_product_variant_path(product)
              %li.mdl-menu__item= link_to "Show",  admin_merchandise_product_path(product)
.mdl-cell.mdl-cell--12-col
  = link_to t('admin.merchandise.products.new_button'), new_admin_merchandise_product_path, :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'
  = link_to 'Prototypes', admin_merchandise_prototypes_path
  = paginate @products