- title "Product: #{@product.name}"
-#- if @product.active?
-#  = link_to 'Make Inactive', admin_merchandise_product_path(@product), :method => :delete, :data => {:confirm => 'This will inactivate the product,  Are you sure?'}, :class => 'button green-button'
-#- elsif @product.available?
-#  = link_to 'Activate', activate_admin_merchandise_product_path(@product), :method => 'PUT', :data => {:confirm => 'This will activate the product,  Are you sure?'}, :class => 'button red-button'
-#- else
-#  Not Ready for Production
.mdl-cell.mdl-cell--12-col-desktop.mdl-color--white.mdl-shadow--2dp
  %fieldset
    %label Name
    %p= @product.name
    %label
      Description (#{link_to 'edit', edit_admin_merchandise_products_description_path(@product)})
    %p= @product.description
    -#%label Meta Keywords
    -#%p= @product.meta_keywords
    -#%label Meta Description
    -#%p= @product.meta_description
    %label Category
    %p= @product.category.name
-#.mdl-cell.mdl-cell--4-col
  %fieldset
    %legend Properties
    - @product.product_attributes.each do |product_prop|
      %label
        = product_prop.property.identifying_name
        \:
      %p= product_prop.description
%fieldset#admin-product-properties.span-12
  %legend Variants
  - if @product.variants.size == 0
    %p
      No variants created yet. #{link_to 'Create some variants?', edit_admin_merchandise_multi_product_variant_path(@product)}
  - else
    %p= link_to 'Edit Variants', edit_admin_merchandise_multi_product_variant_path(@product)
    %table
      %tr
        %th SKU
        %th Price
        %th Cost
        -#%th Brand
        %th
      - @product.variants.each do |variant|
        %tr
          %td= variant.sku
          %td= variant.price
          %td= variant.cost
          -#%td= variant.brand.try(:name)
          %td= link_to variant, admin_merchandise_product_variant_path(@product, variant)