-#%nav.demo-navigation.mdl-navigation.mdl-color--blue-grey-800
= link_to admin_path, class: 'mdl-navigation__link' do
  %i.material-icons dashboard
  = t('.dashboard')
= link_to admin_history_orders_path, class: 'mdl-navigation__link' do
  %i.material-icons move_to_inbox
  = t('.orders')
= link_to admin_users_path, class: 'mdl-navigation__link' do
  %i.material-icons people
  = t('.customers')
= link_to admin_merchandise_products_path, class: 'mdl-navigation__link' do
  %i.material-icons local_cafe
  = t('.products')
= link_to admin_merchants_path, class: 'mdl-navigation__link' do
  %i.material-icons store_mall_directory
  = t('.merchants')
= link_to admin_generic_coupons_path, class: 'mdl-navigation__link' do
  %i.material-icons content_cut
  = t('.discounts')
= link_to admin_user_datas_referrals_path, class: 'mdl-navigation__link' do
  %i.material-icons plus_one
  = t('.referrals')
= link_to admin_config_tax_rates_path, class: 'mdl-navigation__link' do
  %i.material-icons monetization_on
  = t('.tax_rates')
= link_to admin_config_countries_path, class: 'mdl-navigation__link' do
  %i.material-icons language
  = t('.countries')
= link_to '', class: 'mdl-navigation__link' do
  %i.material-icons settings
  = t('.settings')
= link_to root_path, class: 'mdl-navigation__link' do
  %i.material-icons launch
  = t('.back_to_app')
= link_to root_path, class: 'mdl-navigation__link' do
  %i.material-icons exit_to_app
  = t('.log_out')