.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      = f.text_field :first_name, class: 'mdl-textfield__input'
      = f.label :first_name, class: 'mdl-textfield__label'
      %span.mdl-textfield__error Input is not a number!
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      = f.text_field :last_name, class: 'mdl-textfield__input'
      = f.label :last_name, class: 'mdl-textfield__label'
      %span.mdl-textfield__error Input is not a number!
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      = f.text_field :email, class: 'mdl-textfield__input'
      = f.label :email, class: 'mdl-textfield__label'
      %span.mdl-textfield__error Input is not a number!
    = f.fields_for :address do |address_fields|
      = address_fields.fields_for :phone do |phone_fields|
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          = phone_fields.phone_field :number
          = f.label :number, class: 'mdl-textfield__label'
      %li= address_fields.text_field :first_name, placeholder: :first_name.upcase, value: current_user.first_name
      %li= address_fields.text_field :last_name, placeholder: :last_name, value: current_user.last_name
      %li= address_fields.text_field :address1, placeholder: :address_1
      %li= address_fields.text_field :address2, placeholder: :address_2
      %li= address_fields.text_field :city, placeholder: :city
      %li= address_fields.text_field :zip_code, placeholder: :post_code
      %li=address_fields.select   :country_id, select_countries, :include_blank => true
    -#= form_for :password_reset,                                        |
      url: user_password_path(@user, token: @user.confirmation_token), |
      html: { method: :put } do |form|
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = form.password_field :password, class: 'mdl-textfield__input'
        = form.label :password, class: 'mdl-textfield__label'
    = f.submit t('.submit_button'), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'