%section.block-list
  %header Update My Details
  %ul
    %li= f.text_field :first_name, placeholder: :first_name
    %li= f.text_field :last_name, placeholder: :last_name
    %li= f.email_field :email, placeholder: 'Email Address'
    %li= f.telephone_field :mobile, placeholder: 'Mobile Number'
  %header Security Details
  %ul
    %li= f.password_field :password, autofocus: true, autocomplete: 'off', placeholder: 'Current Password'
    %li= f.password_field :current_password, autofocus: true, autocomplete: 'off', placeholder: 'Confirm Password'
  .grid-block
    .small-12.grid-content
      = f.submit class: 'button expand large'