-#- title t('user.index.title')
%nav.mdl-navigation
  = link_to edit_user_registration_path, class: 'mdl-navigation__link' do
    %i.material-icons account_circle
    = t('user.index.change_account_info')
  = link_to myaccount_addresses_path, class: 'mdl-navigation__link' do
    %i.material-icons location_on
    = t('user.index.address_information')
  = link_to myaccount_orders_url, class: 'mdl-navigation__link' do
    %i.material-icons history
    = t('user.index.order_history')
  = link_to myaccount_credit_cards_path, class: 'mdl-navigation__link' do
    %i.material-icons credit_card
    = t('user.index.payment_information')
  = link_to myaccount_store_credit_path, class: 'mdl-navigation__link' do
    %i.material-icons monetization_on
    = t('user.index.store_credit_information')
  = link_to myaccount_referrals_path, class: 'mdl-navigation__link' do
    %i.material-icons plus_one
    = t('user.index.referrals_information')
  = link_to destroy_user_session_path, class: 'mdl-navigation__link', method: :delete do
    %i.material-icons exit_to_app
    = t('user.index.log_out')
-#%section.block-list
  %header= t('user.index.manage_information')
  %ul
    %li.with-chevron= link_to t('user.index.change_account_info'), edit_user_registration_path
    %li.with-chevron= link_to t('user.index.address_information'), myaccount_addresses_path
    %li.with-chevron= link_to t('user.index.order_history'), myaccount_orders_url
    %li.with-chevron= link_to t('user.index.payment_information'), myaccount_credit_cards_path
-#%section.block-list
  %header= t('user.index.notification_settings')
  %ul
    %li
      %span Push Notifications
      .switch
        %input#push_notifications{type: 'checkbox'}
          %label{for: 'push_notifications'}
    %li
      %span SMS Notifications
      .switch
        %input#sms_notifications{type: 'checkbox'}
          %label{for: 'sms_notifications'}
-#- if current_user.has_role? :owner or :admin
  %section.block-list
    %header= t('user.index.configuration_settings')
    %ul
      %li.with-chevron= link_to t('user.index.owner_settings'), ''
      - if current_user.has_role? :admin
        %li.with-chevron= link_to t('user.index.admin_settings'), ''
-#%section.block-list
  %ul
    %li.with-chevron=link_to t('user.index.log_out'), destroy_user_session_path, method: :delete