!!!
%html{lang: :en}
  %head
    = render 'shared/meta_data'
    = stylesheet_link_tag 'application'
    = yield :head
    / Material Design icon font
    %link{:href => '//fonts.googleapis.com/icon?family=Material+Icons', :rel => 'stylesheet'}/
    %script{:defer => '', :src => '//code.getmdl.io/1.1.3/material.min.js'}
    %script{:defer => '', :src => '//js.braintreegateway.com/v2/braintree.js'}
    = csrf_meta_tags
  %body
    / Always shows a header, even in smaller screens.
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      %header.mdl-layout__header
        .mdl-layout__header-row
          / Title
          .mdl-layout-title
            = content_for?(:title) ? yield(:title).upcase : t(:site_name)
          .mdl-layout-spacer
          / Navigation. We hide it in small screens.
          %nav.mdl-navigation.mdl-layout--large-screen-only
            -#= link_to 'Link', '', class: 'mdl-navigation__link'
          %nav.mdl-navigation
            = render 'shared/top_cart'
      - if user_signed_in?
        .mdl-layout__drawer
          %span.mdl-layout-title
            = t(:site_name)
          = render 'shared/compact_menu'
      %main.mdl-layout__content
        .page-content
          = yield