!!!
%html{lang: :en, 'ng-app': :foundation, 'zf-esc-close': :''}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{content: t('meta_description'), name: :description}
    %meta{content: t(:meta_keywords), name: :keywords}
    %title= content_for?(:title) ? yield(:title) : t(:site_name)
    = stylesheet_link_tag    'application'
    %script{src: :'https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js'}
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{'ng-app':  :'app'}
    .title-bar
      .center.title
        = content_for?(:title) ? yield(:title).upcase : t(:site_name).upcase
    .grid-frame
      .grid-block
        #sidebar.medium-2.grid-block
          .grid-content
            %section.block-list
              %header= t('superman.index.side_bar_title')
              %ul
                %li.with-chevron
                  %a{:href => "#"}= t('superman.side_menu.dashboard')
                %li.with-chevron
                  %a{:href => "#"}= t('superman.side_menu.orders')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.products')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.marketing')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.staff')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.settings')
              %header= t('superman.index.side_bar_sub_title')
              %ul
                %li.with-chevron= link_to t('superman.side_menu.return_to'), root_url
                %li.with-chevron= link_to t('superman.side_menu.log_out'), destroy_user_session_path, method: :delete
        #main.medium-10.grid-block
          = yield