!!!
%html{lang: :en}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
    %meta{content: t('meta_description'), name: :description}
    %meta{content: t(:meta_keywords), name: :keywords}
    %title= content_for?(:title) ? yield(:title) : t(:site_name)
    %link{:href => "https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'admin'
    / Compressed JavaScript
    = javascript_include_tag 'admin'
    %script{:src => "https://cdn.jsdelivr.net/foundation/6.1.1/foundation.min.js"}
    = csrf_meta_tags
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => "", "data-dropdownmenu" => "u7w7i8-dropdownmenu", :role => "menubar"}
          %li{:role => "menuitem", :tabindex => "0"}
            %a.dark{:href => "#top-bars", :tabindex => "-1"}
              %i.icon.icon-menu.icon-hc-lg
          %li.menu-text.text-title{:role => "menuitem", :tabindex => "0"} Site Title
      .top-bar-right
        %ul.menu
          %li{:role => "menuitem", :tabindex => "0"}
            %a{:href => "#", :tabindex => "-1"}
  .no-padding
    .large-2.medium-12.small-12.columns
      %ul.vertical.menu
        %li
          %a{:href => "#"}= t('superman.side_menu.dashboard')
        %li
          %a{:href => "#"}= t('superman.side_menu.orders')
        %li
          %a{href: ''}= t('superman.side_menu.products')
        %li
          %a{href: ''}= t('superman.side_menu.marketing')
        %li
          %a{href: ''}= t('superman.side_menu.staff')
        %li
          %a{href: ''}= t('superman.side_menu.settings')
  .large-10.medium-12.small-12.columns.light-grey-bg-pattern
    .row
      .large-10.columns
        .page-name
          %h3.left= content_for?(:title) ? yield(:title).upcase : t(:site_name).upcase
          .clearfix
    .row
      = yield
    -#.title-bar
      .center.title
        = content_for?(:title) ? yield(:title).upcase : t(:site_name).upcase
      - if user_signed_in?
        .right
          = "Hi #{current_user.name}"
    -#.grid-frame
      .grid-block
        #sidebar.medium-2.grid-block
          .grid-content
            %section.block-list
              %header= t('superman.index.side_bar_title')
              %ul
                %li.with-chevron
                  %a{:href => "#"}= t('superman.side_menu.dashboard')
                %li.with-chevron
                  %a{:href => "#"}= t('superman.side_menu.orders')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.products')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.marketing')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.staff')
                %li.with-chevron
                  %a{href: ''}= t('superman.side_menu.settings')
              %header= t('superman.index.side_bar_sub_title')
              %ul
                %li.with-chevron= link_to t('superman.side_menu.return_to'), root_url
                %li.with-chevron= link_to t('superman.side_menu.log_out'), destroy_user_session_path, method: :delete
        #main.medium-10.grid-block
          .grid-content
            %h3= content_for?(:title) ? yield(:title).upcase : t(:site_name).upcase
            = yield